# Mac system files
.DS_Store

# Python cache
__pycache__/
*.py[cod]

# Log, models, training files
*.log
*.pt
*.pth
*.pkl

# Virtual env
mistral_env/

# Output & data
output/
CNN/data/
CNN/models/
CNN/output/
CNN/test/
CNN/scripts/
CNN/utility/annotation/
backend/data/
papers/
tools/

# Node
frontend/node_modules/
